<!-- Resume -->
<article id="resume" class="wrapper style2">
    <div class="container">
        <header>
            <h2>{{gettext("Resume")}}</h2>
            <p><i>{{gettext("The places I worked and studied at.")}}</i></p>
        </header>
        <div class="row aln-center port-group">
            <div class="col-12">
                <h3>{{gettext("Education")}}</h3>
            </div>
            <div class="col-6 col-12-small port-time">
                <h4>
                    Master of Science: {{gettext("Computational Visualistics")}}
                </h4>
                Apr. 2018 - Apr. 2021<br>
                {{gettext("University of Koblenz")}}
            </div>
            <div class="col-6 col-12-small port-content">
                <ul>
                    <li>Thesis: <strong>Multimodal Action Recognition using Graph Convolutional Neural Networks</strong>
                    </li>
                    <li>Machine Learning, {{gettext("Image Processing")}} & {{gettext("Computer Vision")}} & {{gettext("Robotics")}}, {{gettext("Computer Graphics")}}, {{gettext("Operating Systems")}}</li>
                    <li>Software
                        <ul>
                            <li>{{gettext("Programming languages")}}: C++, Python, Matlab, Prolog</li>
                            <li>Unreal Engine, ROS, OpenCV, Tensorflow, PyTorch</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-12-small port-time">
                <h4>
                    Bachelor of Science: {{gettext("Computational Visualistics and Design")}}
                </h4>
                {{gettext("Oct. 2013 - Oct. 2017")}}<br>
                {{gettext("Hamm-Lippstadt University of Applied Sciences")}}
            </div>
            <div class="col-6 col-12-small port-content">
                <ul>
                    <li>Thesis: <strong>Strategien zur Reduktion von Zustandswechseln in modernen
                        OpenGL-Computergrafik-Architekturen in Java</strong><br>
                        Engl.: Strategies for the reduction of state changes in modern OpenGL computer graphic
                        architectures in Java<br></li>
                    <li>
                        {{gettext("Foundations of Computer science (algorithms, data structures, software design patterns), computer vision and computer graphics")}}
                    </li>
                    <li>User experience design, {{gettext("ergonomics")}}, {{gettext("web design")}}</li>
                    <li> Software
                        <ul>
                            <li>{{gettext("Main programming language")}}: Java</li>
                            <li>Unity Engine, Illustrator, Photoshop, InDesign, Maya</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-12-small port-time port-end">
                <h4>
                    Abitur{{gettext("abitur-desc")}}
                </h4>
                2005 - 2013<br>
                Marienschule Lippstadt
            </div>
            <div class="col-6 col-12-small port-content port-end">

            </div>
        </div>

        <div class="row aln-center port-group">
            <div class="col-12">
                <h3>{{gettext("Internships")}}</h3>
            </div>
            <div class="col-6 col-12-small port-time">
                <h4>
                    Robbie: Home Automation Robot
                </h4>
                Sep. 2019 - Jul. 2020<br>
                {{gettext("University of Koblenz")}}<br>
                <a href="https://userpages.uni-koblenz.de/~robbie/" target="_blank">https://userpages.uni-koblenz.de/~robbie/</a>
            </div>
            <div class="col-6 col-12-small port-content">
                <ul>
                    <li>
                        {{gettext("Work on two much-rewarded service robots as part of a research internship in a team of nine students and two research assistants.")}}
                    </li>
                    <li>
                        {{gettext("Implementation of human-robot-interactions in the context of home assistance, such as people tracking & following and item retrieval, carrying and handover, in preparation for RoboCup German Open and RoboCup World Championship (sadly both cancelled due to the pandemic)")}}.
                    </li>
                    <li>C++, Python, Git, Ubuntu, ROS, OpenCV, Eigen</li>
                    <li>{{gettext("Special team role: Quality Management")}}<br>
                        <ul>
                            <li>{{gettext("Verification of compliance of coding standards and style guides")}};</li>
                            <li>{{gettext("Writing of documentations")}};</li>
                            <li>
                                {{gettext("Conduction and supervision of tests according to official tournament rules and ratings")}}.
                            </li>
                        </ul>
                </ul>
            </div>
            <div class="col-6 col-12-small port-time port-end">
                <h4>
                    Bosch Car Multimedia
                </h4>
                Aug. 2015 - Jan. 2016<br>
                Leonberg
            </div>
            <div class="col-6 col-12-small port-content port-end">
                <ul>
                    <li>{{gettext("Development of a mockup / prototype for a driver assistance / recommendation system")}};</li>
                    <li>{{gettext("Work with C++ and Bash-Shell on Ubuntu, compilation for target infotainment system hardware")}};</li>
                    <li>{{gettext("Git, Jira for version control, project management")}};</li>
                    <li>{{gettext("Close coordination with team in India")}};</li>
                    <li>{{gettext("Setup and assistance at exhibitions")}};</li>
                    <li>{{gettext("Daily stand-up meetings in small team to discuss progress")}}.</li>
                </ul>
            </div>
        </div>

        <div class="row aln-center port-group">
            <div class="col-12">
                <h3>{{gettext("Skills")}}</h3>
            </div>
            <div class="col-6 col-12-small port-time">
                <h4>
                    {{gettext("Most used programming languages / technologies")}}
                </h4>
            </div>
            <div class="col-6 col-12-small port-content">
                <ul>
                    <li>C++ ({{gettext("incl. and preferably modern C++ 17 and 20")}}), Python, Java, C#, Javascript, Matlab, GLSL</li>
                    <li>Visual Studio, Jetbrains IDEs, Git, CMake</li>
                    <li>Windows, Ubuntu</li>
                    <li>OpenCV, OpenGL, Numpy, Tensorflow, PyTorch, ROS, Unreal Engine, Unity Engine, Qt Widgets, WPF
                        .NET, JavaFX
                    </li>
                </ul>
            </div>
            <div class="col-6 col-12-small port-time port-end">
                <h4>
                    {{gettext("Spoken languages")}}
                </h4>
            </div>
            <div class="col-6 col-12-small port-content port-end">
                <ul>
                    <li>{{gettext("German (native)")}}</li>
                    <li>
                        {{gettext("English (fluent)<br>Written english master thesis + seminar work / presentations + Bosch internship")}}
                    </li>
                    <li>{{gettext("Japanese as a hobby (so far only basic/interm. reading)")}}</li>
                </ul>
            </div>
        </div>
        <footer>
            <a href="#projects" class="button large scrolly">{{gettext("See some of my recent work")}}</a>
        </footer>
    </div>
</article>
